<div class="container">
    <div class="row">
        <!--About Me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About ME</h2>
                <p>My Name is Baseer <br>
                    Studying at Air University <br>
                    Course : BS Information Technology <br>
                    Learn About : <br>
                    1.Programming Fundamentals <br>
                    2.object Oriented Programming <br>
                    3.Data Structure And Algorithm <br>
                    4.Web Technogies <br>
                    5.Information Security <br>
                    6.Calculas And Analytical Geomtery <br>
                </p>

            </div>

        </div>
        <!--Featured SemProject-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured SemProject</h2>
                <h4>{{featuredProject.name}}</h4>

            </div>

        </div>
    </div>
</div>